[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PiClock
Comment=
Exec=/bin/bash -c "/bin/bash ~/PiClock/startup.sh -m 15"
StartupNotify=false
Terminal=false
Hidden=false
Icon=/home/pi/PiClock/Clock/icons-lightblue/thunderstorm.png